<article>

<%if @username.blank?%>
	<%= '<h1> Welcome To Your Notes Guest </h1>'%>
	<% else %>
	<%="<h1>Welcome To Your Notes Page #{@username}</h1>"%>
	<%end%> 

	<p>
		<br>

		<form method="POST" action="/posts_process">

		<label for= "posts">Subject for Posts: </label>
		<input type="text" name="subject"></input>

		<br>

		<label for= "posts">Create New Post: </label>
		<input type="text" name="posts"></input>
		</br>

		<br>
		<input type="submit"></label>
		</br>
	<p>  

<%@posts = Post.where(user_id: @current_user.id) %>

<%if @posts.blank?%>
	<%= '<h1> You Do Not Have Any Notes </h1>'%>
	<% else %>
	<%="<h1>Here are your Notes #{@username}: </br></h1>"%>
		<%@posts.each do |item|%>
	 		<%="Subject: #{Post.find(item.user_id).subject} <br> Post: #{item.text} "%>
	 		<% "</br>" %>
	 	<%end%>
	<% "</br>" %>
<%end%> 

	<br><a href = "/welcome">Click Here to Go To Home Page</a></br>

</article>